body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: purple;

}

.container{
    border-radius: 10px;
    width: 550px;
    padding: 40px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px rgba(0,0,0,0.1);

}

.container h3{
    text-align: center;
    font-size: 1.8cm;
    margin-top: 18px;
    color: rgb(51,51,51);

}

.container textarea{
    position: relative;
    margin-bottom: 20px;
    resize: none;
    height: 200px;
    width: 100%;
    padding: 10px;
    font-size: 18x;
    border: none;
    outline: none;
}

.container p{
    display: flex;
    align-items: center;
    font-size: 18px;
    color: blue
}

.container p .count{
    font-size: 24px;
    color: red;
    font-weight: 600;
    margin-left: 10px;

}